body{
  margin: 0;
  padding: 0;
}

h1{
  margin: 0;
  text-shadow: 2px 5px #0c4b4e;
}

.main-container {
  width: 100%;
  height: 100vh;
  position: relative;
  text-align: center;
  background-color: rgb(175, 164, 215);
  color: #43d8fd;
  z-index: 0;
}

button:hover {
  background-color: #fff;
  cursor: pointer;
}

.container {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.repeat-container, .qst-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.qst-container {
  width: 600px;
  background-color: #127277;
  text-align: center;
}

.repeat-container {
  color: #fff;
  background-color: #0c4b4e;
  width: 600px;
  height: 600px;
  justify-content: space-between;
  font-size: 22px;
  padding: 0px 15px;
}

.repeat-list-container {
  width: 100%;
  height: 500px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rebeccapurple green;
}

.count-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.clear-btn {
  padding: 5px;
  border-radius: 15px;
  font-size: 22px;
  background-color: #8e8e8e;
}

.text {
  width: 100%;
  padding: 20px;
  font-size: 35px;
  font-weight: 600;
}

.button, .button-repeat, .clear-list-btn, .NewQst {
  width: 150px;
  margin-top: 20px;
  padding: 20px;
  border-radius: 25px;
  font-size: 22px;
  background-color: #d564dd;
}

.yes-btn, .no-btn {
  padding: 20px 40px;
  border-radius: 20px;
  background-color: greenyellow;
}

.no-btn {
  background-color: rgb(229, 52, 52);
}

.done-qst {
  font-size: 40px;
}

.modal-window {
  z-index: 1;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2793a7c3;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.modal-answer {
  max-height: 500px;
  overflow-y: auto;
  width: 70%;
  height: 80%;
  padding: 20px;
  background-color: #000;
  color: #43d8fd;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 3;
  font-size: 40px;
  cursor: pointer;
}
.close-modal:hover {
  color: #2fc1c9;
}

.btn-watch {
  display: flex;
  justify-content: center;
  width: 50px;
  height: 20px;
  border: solid 5px #2a9afd;
  border-radius: 30px 5px;
  margin-top: 10px;
}

.btn-watch:hover{
  cursor: pointer;
  border: solid 5px #2afd5b;
}

.eye:hover {
  background-color: #2afd5b;
}

.eye {
  width: 20px;
  height: 20px;
  background-color:  #2a9afd;
  border-radius: 100%;
}

@media (max-width: 500px){

  .container {
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
  }

  .qst-container, .repeat-container{
    width: 100vw;
    height: 50vh;
    padding: 10px;
    overflow-y: auto;
  }

  .repeat-list-container{
    text-align: left;
    overflow-y: auto;
  }

  p {
    margin: 5px;
    color: #000;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
  }

  #root {
    overflow-y: auto;
    margin: 0;
    padding: 5px;
  }

  .button, .button-repeat, .clear-list-btn, .NewQst{
    margin-top: 10px;
    padding: 10px 20px;
  }

  .count-container {
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
  }

  .modal-window {
    width: 100%;
    height: 100vh;
    font-size: 18px;
  }

  .modal-answer {
    max-height: 80%;
    width: 80%;
    height: 90%;
    text-align: start;
    line-height: 25px;
  }
}